<h1 class="dk_sr-only">런치팅 - 미팅 신청 수정</h1>
<h2 class="dk_sr-only">미팅 신청 수정 페이지 입니다.</h2>
<div class="main-wrapper">
<div class="ks_wrapper">
<div class="yr_tip">
<div class="yr_tip2">

<p id="userlocation" style="display: none;"><%= @group.location %></p>


<%= form_tag("/groups/#{@group.id}", :method => :patch) do %>


<div class="yr_div1">
  <p id="yr_div1_label">수정하기</p>
</div>
    <!-- week -->
    <%= hidden_field_tag :gender, @group.gender %>
    <%= hidden_field_tag :week, @group.week %>

<div class="yr_div_people">
  <div class="yr_div2">
    <span id="yr_div2_label"> 인원 </span>
    <%= select_tag(:people, options_for_select([1, 2, 3, 4], @group.people), {:class => 'yr_div2_tag'}) %>
  </div>

    <div class="auth_1 auth_2 auth_3 yr_div2_edit">
         <span class="yr_div3_label" ><%= label_tag(:add_nick1, "두번째 멤버") %> </span>
         <span class="groupNewFlex">
         <% if @secondmember != "" %>
             <%= text_field_tag :add_nick1, @secondmember, class: 'yr_div3_tag', readonly: true %>
             <button type="button" id="yr_edit_btn1">수정하기</button>
             <button type="button" id="yr_auth_btn1" class="yr_auth_btn1_hide">인증하기</button>
             <p id="yr_result1_edit" class="yr_result1 yr_auth_btn1_hide">인증되었습니다.</p>
         <% elsif @secondmember == "" %>
           <%= text_field_tag :add_nick1, @secondmember, placeholder: '닉네임', class: 'yr_div3_tag' %>
              <button type="button" id="yr_newauth1" class=>인증하기</button>
              <p id="yr_result1_edit" class="yr_result1 yr_auth_btn1_hide"></p>
         <% end %>
         </span>
    </div>
    <div class="auth_2 auth_3 yr_div2_edit">
         <span class="yr_div3_label" ><%= label_tag(:add_nick2, "세번째 멤버") %> </span>
         <span class="groupNewFlex">
         <% if @thirdmember != "" %>
             <span class="groupNewFlex">
              <%= text_field_tag :add_nick2, @thirdmember, class: 'yr_div3_tag', readonly: true %>
             <button type="button" id="yr_edit_btn2">수정하기</button>
             <button type="button" id="yr_auth_btn2" class="yr_auth_btn2_hide">인증하기</button>
             <p id="yr_result2_edit" class="yr_result2 yr_auth_btn2_hide">인증되었습니다.</p>
         <% elsif @thirdmember == "" %>
           <%= text_field_tag :add_nick2, @thirdmember, placeholder: '닉네임', class: 'yr_div3_tag' %>
              <button type="button" id="yr_newauth2" class=>인증하기</button>
              <p id="yr_result2_edit" class="yr_result2 yr_auth_btn2_hide"></p>
         <% end %>
         </span>
    </div>
    <div class="auth_3 yr_div2_edit">
         <span class="yr_div3_label" ><%= label_tag(:add_nick3, "네번째 멤버") %> </span>
        <span class="groupNewFlex">
        <% if @fourthmember != "" %>
           <%= text_field_tag :add_nick3, @fourthmember, class: 'yr_div3_tag', readonly: true %>
           <button type="button" id="yr_edit_btn3">수정하기</button>
           <button type="button" id="yr_auth_btn3" class="yr_auth_btn3_hide">인증하기</button>
           <p id="yr_result3_edit" class="yr_result3 yr_auth_btn3_hide">인증되었습니다.</p>
         <% elsif @fourthmember == "" %>
           <%= text_field_tag :add_nick3, @fourthmember, placeholder: '닉네임', class: 'yr_div3_tag' %>
           <button type="button" id="yr_newauth3" class=>인증하기</button>
           <p id="yr_result3_edit" class="yr_result3 yr_auth_btn3_hide"></p>
         <% end %>
         </span>
    </div>





</div>
<div class="yr_div6">
  <p class="yr_div6_label">요일</p>
  <div class="groupNewFlex2">
  <div class="yr_daybutton">
    <label>
      <%= hidden_field_tag :mon, "0" %>
      <%= check_box_tag :mon, "1", @mon, class: 'yr_daycheckbox' %>
     <p class="yr_thisday">월</p>
      <p id="mon_check" style="display: none;"><%= @mon %></p>
    </label>
  </div>

  <div class="yr_daybutton" type="button">
    <label>
      <%= hidden_field_tag :tue, "0" %>
      <%= check_box_tag :tue, "1", @tue, class: 'yr_daycheckbox' %>
     <div class="yr_thisday">화</div>
      <p id="tue_check" style="display: none;"><%= @tue %></p>
    </label>
  </div>

  <div class="yr_daybutton" type="button">
    <label>
      <%= hidden_field_tag :wed, "0" %>
      <%= check_box_tag :wed, "1", @wed, class:'yr_daycheckbox' %>
     <p class="yr_thisday">수</p>
        <p id="wed_check" style="display: none;"><%= @wed %></p>
    </label>
  </div>

  <div class="yr_daybutton" type="button">
    <label>
      <%= hidden_field_tag :thu, "0" %>
      <%= check_box_tag :thu, "1", @thu, class:'yr_daycheckbox' %>
     <p class="yr_thisday">목</p>
     <p id="thu_check" style="display: none;"><%= @thu %></p>
    </label>
  </div>

  <div class="yr_daybutton" type="button">
    <label>
      <%= hidden_field_tag :fri, "0" %>
      <%= check_box_tag :fri, "1", @fri, class:'yr_daycheckbox' %>
     <p class="yr_thisday">금</p>
     <p id="fri_check" style="display: none;"><%= @fri %></p>
    </label>
  </div>
</div>
</div>

  <script>
  if(JSON.parse(document.getElementById('mon_check').innerHTML)){
    $("#mon_check").parents("div.yr_daybutton").addClass('yr_active');
  }

   if(JSON.parse(document.getElementById('tue_check').innerHTML)){
    $("#tue_check").parents("div.yr_daybutton").addClass('yr_active');
  }

   if(JSON.parse(document.getElementById('wed_check').innerHTML)){
    $("#wed_check").parents("div.yr_daybutton").addClass('yr_active');
  }

   if(JSON.parse(document.getElementById('thu_check').innerHTML)){
    $("#thu_check").parents("div.yr_daybutton").addClass('yr_active');
  }

   if(JSON.parse(document.getElementById('fri_check').innerHTML)){
    $("#fri_check").parents("div.yr_daybutton").addClass('yr_active');
  }

  </script>

<div class="yr_div7">
  <div class="groupNewFlex2">
    <p class="yr_div7_mon"><%= @dayshash[7] %></p>
    <p class="yr_div7_tue"><%= @dayshash[8] %></p>
    <p class="yr_div7_tue"><%= @dayshash[9] %></p>
    <p class="yr_div7_tue"><%= @dayshash[10] %></p>
    <p class="yr_div7_tue"><%= @dayshash[11] %></p>
  </div>
</div>

<div class="yr_div8" >
  <p class="yr_div8_label">점심시간</p>
  <div class="groupNewFlex2">
    <%= text_field_tag :lunchtime_beg, @start, id: 'lunchtime_start', class: 'timepicker1' %>
    <p class="yr_div8_wave"> ~ </p>
    <%= text_field_tag :lunchtime_end, @finish, id: 'lunchtime_finish', class: 'timepicker2' %>
  </div>
</div>

<div class="yr_div9">
    <label>
  <%= hidden_field_tag :lunchtime_save, "0" %>
  <div class="groupNewFlex2">
    <%= check_box_tag :lunchtime_save, "1", false, class: 'yr_div9_checkbox' %>
    <p class="yr_div9_label"> 이 위치를 기본 점심 시간으로 저장합니다.</p>
  </div>
  </label>
</div>

<input type="hidden" value="<% @start %>">

<%= hidden_field_tag :location_lat, {:id => 'location_lat'}, {:value => @latitude} %>
<%= hidden_field_tag :location_lng, {:id => 'location_lng'}, {:value => @longitude} %>


<div class="yr_div10">

<p class="yr_div10_label">근무지 위치</p>
<input id="pac-input" class="controls" type="text"
        placeholder="주소를 입력해주세요">
    <div id="map"></div>
    <div id="infowindow-content">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>
</div>


<div class="yr_div9">
    <label>
    <%= hidden_field_tag :location_save, "0" %>
    <div class="groupNewFlex3">
      <%= check_box_tag :location_save, "1", false, class: 'yr_div9_checkbox' %>
      <p class="yr_div9_label"> 이 위치를 기본 근무지 위치로 저장합니다. </p>
    </div>
   </label>
</div>

<%= submit_tag "수정하기", class: "yr_submit" %>

<% end %>
</div>
</div>
</div>
</div>

<% content_for :page_js do %>
  <script type="text/javascript">
     <%= render file: "#{Rails.root}/app/assets/javascripts/groups_edit.js" %>
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRiqpz5Q86RQ_j7KkPiP25hvjmPVGqdcU&libraries=places&callback=initMap"async defer></script>
<% end %>
