<h1 class="dk_sr-only">런치팅 - 메인</h1>
<h2 class="dk_sr-only">메인페이지 입니다.</h2>
<div class="main_padding row"></div>
<!-- 미팅 방법 카드 시작 -->
<section class="maincards container">
  <div class="row">
    <article class="col-dk-3 col-tb-6 col-mb-3 main_card_flex">
      <div class="main_card">
        <h3 class="main_cardnum">01</h3>
        <div class="main_cardimg_st1"></div>
        <p class="main_cardtext">‘신청하기’에서 요일, 시간, 장소를 선택하여 미팅을 신청합니다.</p>
      </div>
    </article>
    <article class="col-dk-3 col-tb-6 col-mb-3 main_card_flex">
      <div class="main_card">
        <h3 class="main_cardnum">02</h3>
        <div class="main_cardimg_st2"></div>
        <p class="main_cardtext">
          매주 일요일, 낮 12시에 가장 최적의 조건으로 매칭한 결과를 보내드립니다.
          <br>
          <strong>* 같은 직장은 매칭되지 않습니다.</strong>
        </p>
      </div>
    </article>
    <article class="col-dk-3 col-tb-6 col-mb-3 main_card_flex">
      <div class="main_card">
        <h3 class="main_cardnum">03</h3>
        <div class="main_cardimg_st3"></div>
        <p class="main_cardtext">매칭이 성사되면 ‘마이페이지’의 ‘예정된 미팅’에서 상대와 채팅 할 수 있습니다.</p>
      </div>
    </article>
    <article class="col-dk-3 col-tb-6 col-mb-3 main_card_flex">
      <div class="main_card">
        <h3 class="main_cardnum">04</h3>
        <div class="main_cardimg_st4"></div>
        <p class="main_cardtext">점심시간을 이용하여 편하고 즐거은 런치팅을 하면 끝!</p>
      </div>
    </article>
  </div>
</section>
<div class="main_padding2 row"></div>
<!-- 팁 시작 -->
<section class="main_tips container">
  <h3 class="main_tip_section_title">런치팅을 처음 사용하시는 당신을 위한 팁</h3>
  <div class="main_padding3 row"></div>
  <article class="col-dk-3 col-tb-6 col-mb-3 main_tip_article">
    <a href="/tips/card1">
      <div class="main_tip_card">
        <%= image_tag("ks_location1.png", class: "main_tip_img") %>
        <h4 class="main_tip_card_title">런치팅 추천식당 <선릉>편</h4>
      </div>
    </a>
  </article>
  <article class="col-dk-3 col-tb-6 col-mb-3 main_tip_article">
    <a href="/tips/card1">
      <div class="main_tip_card">
        <%= image_tag("ks_location2.png", class: "main_tip_img") %>
        <h4 class="main_tip_card_title">런치팅 추천메뉴 Top3</h4>
      </div>
    </a>
  </article>
  <article class="col-dk-3 col-tb-6 col-mb-3 main_tip_article">
    <a href="/tips/card2">
      <div class="main_tip_card">
        <%= image_tag("ks_location3.png", class: "main_tip_img") %>
        <h4 class="main_tip_card_title">런치팅에서 피해야 할 음식</h4>
      </div>
    </a>
  </article>
  <article class="col-dk-3 col-tb-6 col-mb-3 main_tip_article">
    <a href="/tips/card3">
      <div class="main_tip_card">
        <%= image_tag("ks_location4.png", class: "main_tip_img") %>
        <h4 class="main_tip_card_title">자리 위치선정 꿀팁!!</h4>
      </div>
    </a>
  </article>
  <article class="col-dk-3 col-tb-6 col-mb-3 main_tip_article">
    <a href="/tips/card3">
      <div class="main_tip_card">
        <%= image_tag("ks_conversation1.png", class: "main_tip_img") %>
        <h4 class="main_tip_card_title">꼬리를 무는 대화법</h4>
      </div>
    </a>
  </article>
  <article class="col-dk-3 col-tb-6 col-mb-3 main_tip_article">
    <a href="/tips/card3">
      <div class="main_tip_card">
        <%= image_tag("ks_conversation2.png", class: "main_tip_img") %>
        <h4 class="main_tip_card_title">편하게 대화하는 법</h4>
      </div>
    </a>
  </article>
  <article class="col-dk-3 col-tb-6 col-mb-3 main_tip_article">
    <a href="/tips/card3">
      <div class="main_tip_card">
        <%= image_tag("ks_conversation4.png", class: "main_tip_img") %>
        <h4 class="main_tip_card_title">공통 취미/관심사 찾기</h4>
      </div>
    </a>
  </article>
  <article class="col-dk-3 col-tb-6 col-mb-3 main_tip_article">
    <a href="/tips/card3">
      <div class="main_tip_card">
        <%= image_tag("ks_conversation6.png", class: "main_tip_img") %>
        <h4 class="main_tip_card_title">소개팅 때 피해야 할<br/>대화주제 3가지</h4>
      </div>
    </a>
  </article>
  <div class="row"></div>
  <div class="main_bottom_padding"></div>
</section>
